.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1, h2, h3, .projectLink {
  color: rgb(99, 41, 41);
  font-weight: lighter;
}

h1 {
  font-size: calc(10px + 6vmin);
}

h2, .projectLink {
  font-size: calc(10px + 3vmin);
  text-decoration: none;
}

h3 {
  font-size: calc(10px + 1.5vmin);
}

p {
  color: grey;
  font-size: calc(10px + 1vmin);
  font-weight: light;
}

li, .articleLink {
  color: darkgrey;
  font-size: calc(9x + 1vmin);
  padding-bottom: 0.3vh;
  text-decoration: none;
}

a:hover {
  color:  rgb(99, 41, 41);
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.navBarButton, .navBarButtonSelected {
  font-size: calc(10px + 1vmin);
  background: none;
  border: none;
  margin-right: 4vw;
  margin-top: 4vh;
}

.navBarButton:hover {
  color: black;
  cursor: pointer;
}

.navBarButton {
  color: grey;
}

.navBarButtonSelected {
  color: black;
}

.page {
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: left;
  flex: 1 0 auto;
}

.project {
  margin-left: 2vw;
  margin-right: 2vw;
}

.workExperience {
  margin-left: 2vw;
}

.workExperience:hover {
  cursor: pointer;
}

.domain {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.languages {
  display: inline-block;
  color: darkgrey;
  font-size: calc(6px + 1vmin);
  margin-left: 1vw;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  flex-shrink: 0;
}

.footerIcon, .footerText {
  margin-left: 1vw;
  margin-right: 1vw;
  display: inline;
}

.footerIcon {
  color: grey;
  font-size: calc(3px + 3vmin);
}